<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <!--    .field-error는 글자색 테두리색 빨강으로-->
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addItem}">상품 등록</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">

<!--        #fields 로 BindingResult 가 제공하는 검증 오류에 접근할 수 있다., 글로벌오류가 있느냐-->
        <div th:if="${#fields.hasGlobalErrors()}">
<!--            여러개 오류가 생길 수 있기 때문에 반복문, 오류 개수만큼 출력-->
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div>
            <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
            <!--            입력칸-->
<!--            th:errorclas는 th:field의 필드명에 오류가 있으면 class인 form-control에다가 field-error 추가해줌-->
<!--            itemName을 가지고 BindingResult에 오류가 있나 찾음-->
            <input type="text" id="itemName" th:field="*{itemName}"
                   th:errorclass="field-error" class="form-control" placeholder="이름을 입력하세요">
<!--             해당 필드에 오류가 있는 경우에 태그를 출력한다. th:if 의 편의 버전-->
            <div class="field-error" th:errors="*{itemName}">
                상품명 오류
            </div>
        </div>

        <div>
            <label for="price" th:text="#{label.item.price}">가격</label>
            <!--            입력칸-->
            <input type="text" id="price" th:field="*{price}"
                   th:errorclass="field-error" class="form-control" placeholder="가격을 입력하세요">
            <div class="field-error" th:errors="*{price}">
                가격 오류
            </div>
        </div>

        <div>
            <label for="quantity" th:text="#{label.item.quantity}">수량</label>
            <!--            입력칸-->
            <input type="text" id="quantity" th:field="*{quantity}"
                   th:errorclass="field-error" class="form-control" placeholder="수량을 입력하세요">
            <div class="field-error" th:errors="*{quantity}">
                수량 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">

            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">상품 등록</button>
            </div>

            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/validation/v2/items}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>